* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url(./background.png);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
}

/* Hover effect for navbar */
nav .navbar ul li a:hover {
  text-decoration: underline;
}

nav .navbar {
  display: flex;
  align-items: center;
  gap: 10rem;
}

nav .navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav .navbar .nav-links li {
  list-style: none;
}
nav .navbar .nav-links li a {
  text-decoration: none;
  list-style: none;
  color: black;
}
nav .cart {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

.container {
  height: 92%;
  width: 100%;
  /* display: flex; */
  position: relative;
}

/* box1 all css  */
.container .box1 {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
  position: absolute;
}
.container .box1 .texts {
  display: flex;
  flex-direction: column;
  margin: 27px 0 0 90px;
  gap: 20px;
}

#big {
  font-size: 4rem;
  line-height: 60px;
}

.line {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lines {
  height: 2px;
  border: 2px solid gre;
  width: 40px;
}

.col {
  display: flex;
  gap: 12px;
}

.col input {
  border-radius: 70% 70% 70% 70%;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container .box1 .text2 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 90px;
}

#leaf {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.leaf2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.leaf-line {
  height: 0px;
  width: 50px;
  border: 1px dotted black;
  transform: rotate(90deg);
}

.container .box2 {
  height: 100%;
  width: 40%;
  position: relative;
}
.container .box3 {
  height: 100%;
  width: 20%;
  padding-top: 54px;
  position: absolute;
  right: 120px;
}

/* box2 all css */

.container .box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 27px 10px 40px 10px;
  position: absolute;
  left: 540px;
}

.image {
  display: flex;
  justify-content: space-between;
}

.vertical-text {
  margin-top: 130px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 32px;
  z-index: 23;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.image .img-big {
  position: absolute;
  height: 450px;
  width: 450px;
  border-radius: 15px;
  background-image: url("https://s3-eu-west-1.amazonaws.com/vivadoo/uploads/987581/main_99dae69821ba7561d634ca72dddb9b7bec95101e4466e389c61332ca0c575b1c5873dcad.jpg");
  left: 110px;
  background-size: cover;
  background-position: center;
}

.img-big .pr-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.price-box {
  height: 35px;
  width: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px gray;
}

.rating-box {
  height: 35px;
  width: 120px;
  background-color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px gray;
}

.cart-box {
  background-color: #5f654e;
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 340px;
  color: white;
  border-radius: 50%;
  font-weight: 200;
  gap: 10px;
}

.container .box2 .text3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 10px gray;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
}

.image1 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.image2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.image3 {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* box3 all css here */

.image4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.image4 img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95px;
  width: 95px;
  background-color: aqua;
  border-radius: 12px;
  box-shadow: 0px 4px 10px gray;
}
